# No Python dependencies required.
# All recon tools are external Go binaries installed via PDTM or go install:
#
#   go install -v github.com/projectdiscovery/pdtm/cmd/pdtm@latest
#   pdtm -ia -igp
#
# Individual tools:
#   go install github.com/tomnomnom/waybackurls@latest
#   go install github.com/lc/gau/v2/cmd/gau@latest
#   go install -v github.com/cc1a2b/jshunter/cmd/jshunter@latest
#
# For running tests:
pytest==8.3.5
